apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: chibisafe
data:
  nginx.conf: |
    user  nginx;
    worker_processes auto;
    events {}
    http{
      include      mime.types;
      include      /etc/nginx/sites-enabled/*.conf;
      sendfile        on;
      keepalive_timeout 65;
      default_type  application/octet-stream;
    }

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-chibisafe
  namespace: chibisafe
data:
  chibisafe.conf: |
    server {
        listen 80;
        server_name chibisafe.wololoaeyoyo.com;

        root /app/uploads;

        location ^~ /api/ {
            proxy_pass http://chibisafe-backend.chibisafe.svc.cluster.local:8000;
            proxy_set_header Host chibisafe.wololoaeyoyo.com;
            proxy_set_header X-Real-IP $remote_addr;
        }

        location ^~ /docs/ {
            try_files $uri @docs;
        }

        location @docs {
            proxy_pass http://chibisafe-backend.chibisafe.svc.cluster.local:8000;
            proxy_set_header Host chibisafe.wololoaeyoyo.com;
            proxy_set_header X-Real-IP $remote_addr;
        }

        location / {
            try_files $uri @frontend;
        }

        location @frontend {
            proxy_pass http://chibisafe.chibisafe.svc.cluster.local:8001;
            proxy_set_header Host chibisafe.wololoaeyoyo.com;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }
