#source https://grafana.com/docs/alloy/latest/collect/logs-in-kubernetes/
apiVersion: v1
kind: ConfigMap
metadata:
  name: k8s-monitoring-configmap
  namespace: alloy
data:
  values.yaml: |
    cluster:
      name: default
    destinations:
      - name: logs-service
        type: loki
        url: http://loki-loki-gateway.loki.svc.cluster.local/loki/api/v1/push
      - name: metrics-service
        type: prometheus
        url: http://mimir-mimir-gateway.mimir.svc.cluster.local/api/v1/push
    clusterMetrics:
      enabled: true
    clusterEvents:
      enabled: true
    podLogs:
      enabled: true
    nodeLogs:
      enabled: true
    alloy-metrics: 
      enabled: true
    alloy-profiles: 
      enabled: true
    alloy-logs:
      enabled: true
    alloy-singleton:
      enabled: true