#source https://grafana.com/docs/alloy/latest/collect/logs-in-kubernetes/
apiVersion: v1
kind: ConfigMap
metadata:
  name: alloy-configmap
  namespace: alloy
data:
  values.yaml: |
    alloy:
      listenAddr: 0.0.0.0
      listenPort: 12345
      configMap:
        create: true
        name: alloy-configmap
        content: |-
          loki.write "default" {
              endpoint {
                url = "http://loki-loki-gateway.loki.svc.cluster.local/loki/api/v1/push"
              }
            }

          local.file_match "node_logs" {
            path_targets = [{
                // Monitor syslog to scrape node-logs
                __path__  = "/var/log/syslog",
                job       = "node/syslog",
                node_name = sys.env("HOSTNAME"),
                cluster   = "default",
            }]
          }


          loki.source.file "node_logs" {
            targets    = local.file_match.node_logs.targets
            forward_to = [loki.write.default.receiver]
          }

          discovery.kubernetes "pod" {
          role = "pod"
          // Restrict to pods on the node to reduce cpu & memory usage
          selectors {
            role = "pod"
            field = "spec.nodeName=" + coalesce(sys.env("HOSTNAME"), constants.hostname)
            }
          }

          // discovery.relabel rewrites the label set of the input targets by applying one or more relabeling rules.
          // If no rules are defined, then the input targets are exported as-is.
          discovery.relabel "pod_logs" {
            targets = discovery.kubernetes.pod.targets

            // Label creation - "namespace" field from "__meta_kubernetes_namespace"
            rule {
              source_labels = ["__meta_kubernetes_namespace"]
              action = "replace"
              target_label = "namespace"
            }

            // Label creation - "pod" field from "__meta_kubernetes_pod_name"
            rule {
              source_labels = ["__meta_kubernetes_pod_name"]
              action = "replace"
              target_label = "pod"
            }

            // Label creation - "container" field from "__meta_kubernetes_pod_container_name"
            rule {
              source_labels = ["__meta_kubernetes_pod_container_name"]
              action = "replace"
              target_label = "container"
            }

            // Label creation -  "app" field from "__meta_kubernetes_pod_label_app_kubernetes_io_name"
            rule {
              source_labels = ["__meta_kubernetes_pod_label_app_kubernetes_io_name"]
              action = "replace"
              target_label = "app"
            }

            // Label creation -  "job" field from "__meta_kubernetes_namespace" and "__meta_kubernetes_pod_container_name"
            // Concatenate values __meta_kubernetes_namespace/__meta_kubernetes_pod_container_name
              rule {
                source_labels = ["__meta_kubernetes_namespace", "__meta_kubernetes_pod_container_name"]
                action = "replace"
                target_label = "job"
                separator = "/"
                replacement = "$1"
              }

            // Label creation - "__path__" field from "__meta_kubernetes_pod_uid" and "__meta_kubernetes_pod_container_name"
            // Concatenate values __meta_kubernetes_pod_uid/__meta_kubernetes_pod_container_name.log
                rule {
                  source_labels = ["__meta_kubernetes_pod_uid", "__meta_kubernetes_pod_container_name"]
                  action = "replace"
                  target_label = "__path__"
                  separator = "/"
                  replacement = "/var/log/pods/*$1/*.log"
                }
            }
            // loki.source.kubernetes tails logs from Kubernetes containers using the Kubernetes API.
            loki.source.kubernetes "pod_logs" {
              targets    = discovery.relabel.pod_logs.output
              forward_to = [loki.process.pod_logs.receiver]
            }

            // loki.process receives log entries from other Loki components, applies one or more processing stages,
            // and forwards the results to the list of receivers in the component's arguments.
            loki.process "pod_logs" {
              stage.static_labels {
                  values = {
                    cluster = "default",
                  }
              }

              forward_to = [loki.write.default.receiver]
            }
            

          discovery.kubernetes "metric_pod" {
            role = "pod"

            namespaces {
              own_namespace = false
              names         = ["default","loki","mimir","longhorn-system","alloy","traefik","grafana"]
            }
          }
          prometheus.exporter.self "self_metrics" {
          }

          prometheus.scrape "self_scrape" {
            targets    = prometheus.exporter.self.self_metrics.targets
            forward_to = [prometheus.remote_write.mimir.receiver]
          }



          prometheus.scrape "pods" {
            targets    = discovery.kubernetes.metric_pod.targets
            forward_to = [prometheus.remote_write.mimir.receiver]
          }

          prometheus.remote_write "mimir" {
            endpoint {
              url = "http://mimir-mimir-gateway.mimir.svc.cluster.local/api/v1/push"
            }
          }
