#source https://grafana.com/docs/tempo/latest/collect/logs-in-kubernetes/
apiVersion: v1
kind: ConfigMap
metadata:
  name: tempo-configmap
  namespace: tempo
data:
  values.yaml: |
    tempo:
      storage:
        trace:
          backend: s3
          s3:
            access_key: {{ .ACCESS_KEY }}
            bucket: tempo-metrics-212878776795-us-east-1
            endpoint: s3.us-east-1.amazonaws.com
            insecure: true
            secret_key: {{ .SECRET_KEY }}
          pool:
            queue_depth: 2000
          wal:
            path: /var/tempo/wal
          memcached:
            consistent_hash: true
            host: a-tempo-distributed-memcached
            service: memcached-client
            timeout: 500ms
