#source https://grafana.com/docs/tempo/latest/collect/logs-in-kubernetes/
apiVersion: v1
kind: ConfigMap
metadata:
  name: tempo-configmap
  namespace: tempo
data:
  values.yaml: |
    tempo:
      # Enable service graphs and span metrics
      overrides:
        defaults:
          metrics_generator:
            processors: [service-graphs, span-metrics, local-blocks]
      metricsGenerator:
        enabled: true
        remoteWriteUrl: "http://mimir-mimir-gateway.mimir.svc.cluster.local/api/v1/push"
      storage:
        trace:
          backend: s3
          s3:
            access_key: ${ACCESS_KEY}
            secret_key: ${SECRET_KEY}
            bucket: tempo-metrics-212878776795-us-east-1
            endpoint: s3.us-east-1.amazonaws.com
            insecure: true
          pool:
            queue_depth: 2000
          wal:
            path: /var/tempo/wal
          memcached:
            consistent_hash: true
            host: a-tempo-distributed-memcached
            service: memcached-client
            timeout: 500ms
      traces:
        otlp:
          grpc:
            enabled: true
          http:
            enabled: true
        zipkin:
          enabled: false
        jaeger:
          thriftHttp:
            enabled: false
        opencensus:
          enabled: false
      gateway:
        enabled: true
        basicAuth:
          enabled: false
    persistence:
      enabled: true