apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: default
data:
  nginx.conf: |
    user  nginx;
    worker_processes auto;
    events {}
    http{
      include      mime.types;
      include      /etc/nginx/sites-enabled/*.conf;
      sendfile        on;
      keepalive_timeout 65;
      default_type  application/octet-stream;
    }

--- 
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-sites-enabled
  namespace: default
data:
  longhorn.conf: |
    events {}
    http{
      server {
          listen 80;
          listen [::]:80;
          listen 443;
          listen [::]:443;
          server_name longhorn.wololoaeyoyo.com;

          location / {
              proxy_pass http://longhorn-frontend.longhorn-system.svc.cluster.local:80;

              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;

              # Required for Longhorn UI / websockets
              proxy_http_version 1.1;
              proxy_set_header Upgrade $http_upgrade;
              proxy_set_header Connection "upgrade";
          }
      }
    }
