apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: default
  labels:
    app: nginx
spec:
  replicas: 3
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:latest

        volumeMounts:
          - name: nginx-config
            mountPath: /etc/nginx/nginx.conf
            subPath: nginx.conf

          - name: nginx-longhorn
            mountPath: /etc/nginx/sites-enabled/longhorn.conf
            subPath: longhorn.conf

      volumes:
        - name: nginx-config
          configMap:
            name: nginx-config
            items:
              - key: nginx.conf
                path: nginx.conf

        - name: nginx-longhorn
          configMap:
            name: nginx-longhorn
            items:
              - key: longhorn.conf
                path: longhorn.conf
