apiVersion: v1
kind: ConfigMap
metadata:
  name: mimir-configmap
  namespace: mimir
data:
  values.yaml: |
    mimir:
      alertmanager:
        persistentVolume:
          enabled: true
        replicas: 3
        resources:
          limits:
            memory: 1.4Gi
          requests:
            cpu: 1
            memory: 1Gi
        statefulSet:
          enabled: true

      compactor:
        persistentVolume:
          size: 50Gi
        resources:
          limits:
            memory: 2.8Gi
            compactor_blocks_retention_period: 2h
          requests:
            cpu: 1
            memory: 1Gi

      distributor:
        replicas: 12
        resources:
          limits:
            memory: 5.7Gi
          requests:
            cpu: 2
            memory: 1Gi

      
      ingester:
        persistentVolume:
          size: 50Gi
        replicas: 27
        resources:
          limits:
            memory: 3Gi
          requests:
            cpu: 3.5
            memory: 1Gi
        topologySpreadConstraints: {}
        affinity:
          podAntiAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              - labelSelector:
                  matchExpressions:
                    - key: app.kubernetes.io/component
                      operator: In
                      values:
                        - ingester
                topologyKey: "kubernetes.io/hostname"

        zoneAwareReplication:
          topologyKey: "kubernetes.io/hostname"

      chunks-cache:
        enabled: true
        replicas: 3

      index-cache:
        enabled: true
        replicas: 3

      metadata-cache:
        enabled: true
        replicas: 3

      results-cache:
        enabled: true
        replicas: 3
        allocatedMemory: 1024

      minio:
        enabled: false

      overrides_exporter:
        replicas: 1
        resources:
          limits:
            memory: 128Mi
          requests:
            cpu: 100m
            memory: 128Mi

      querier:
        replicas: 4
        resources:
          limits:
            memory: 8.5Gi
          requests:
            cpu: 2
            memory: 6Gi

      query_frontend:
        replicas: 3
        resources:
          limits:
            memory: 2.8Gi
          requests:
            cpu: 2
            memory: 2Gi

      ruler:
        replicas: 3
        resources:
          limits:
            memory: 5.7Gi
          requests:
            cpu: 1
            memory: 4Gi

      store_gateway:
        persistentVolume:
          size: 50Gi
        replicas: 6
        resources:
          limits:
            memory: 8.5Gi
          requests:
            cpu: 1
            memory: 6Gi
        topologySpreadConstraints: {}
        affinity:
          podAntiAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              - labelSelector:
                  matchExpressions:
                    - key: app.kubernetes.io/component
                      operator: In
                      values:
                        - store-gateway
                topologyKey: "kubernetes.io/hostname"

        zoneAwareReplication:
          topologyKey: "kubernetes.io/hostname"

      gateway:
        replicas: 3
        resources:
          limits:
            memory: 731Mi
          requests:
            cpu: 1
            memory: 512Mi

      storage:
        backend: s3
        s3:
          bucket_name: mimir-metrics-212878776795-us-east-1
          access_key_id: ${ACCESS_KEY}
          endpoint:  s3.us-east-1.amazonaws.com 
          secret_access_key: ${SECRET_KEY} 
      alertmanager_storage:
        s3:
          bucket_name: mimir-metrics-212878776795-us-east-1
          access_key_id: ${ACCESS_KEY}
          endpoint:  s3.us-east-1.amazonaws.com 
          secret_access_key: ${SECRET_KEY}
      blocks_storage:
        backend: s3
        s3:
          bucket_name: mimir-block-metrics-us-east-1
          access_key_id: ${ACCESS_KEY}
          endpoint:  s3.us-east-1.amazonaws.com 
          secret_access_key: ${SECRET_KEY}
      ruler_storage:
        s3:
          bucket_name: mimir-metrics-212878776795-us-east-1
          access_key_id: ${ACCESS_KEY}
          endpoint:  s3.us-east-1.amazonaws.com 
          secret_access_key: ${SECRET_KEY}
    kafka:
      enabled: true
      logRetentionHours: 2
